body {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    margin-top: 25%;
    margin-bottom: 25%;
    width: 80%;
    text-align: center;
    background-color: rgb(231, 231, 231);
}
i, input, button {
    padding: 15px 0;
}
i {
    width: 30px;
    padding: 10px 0;
    color: red;
    border: 1px solid red;
    border-radius: 60%;
}
input {
    width: 70%;
    height: 35px;
}
button {
    border: 1px solid red;
    background-color: red;
    color: white;
    padding: 10px 20px;
}

