.row{
    display: flex;
        
}

.row .label{
    flex: 0 0 auto;
}

.row .container{
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.row .dish {
    display: flex;
    justify-content: center;
    align-items: center;
}

.one{
    background-color: rgb(247, 130, 46);
    flex-basis: 35%;
}
.two{
    background-color: rgb(242, 187, 50);
    flex-basis: 50%;
}

.three{
    background-color: rgb(143, 20, 177);
    flex-basis: 15%;
}